@use '../button/button.scss';
@include button.button-syle;
.bb-button {
  border-radius: 50%;
  padding: 0.5rem;
  aspect-ratio: 1 / 1;
}
.bb-button-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
