p {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  h2 {
    width: fit-content;
  }
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
