/* You can add global styles to this file, and also import other style files */
:root {
  --typo-label: bold 12px 'Open Sans';
  --typo-message: normal 12px 'Open Sans';
  --typo-body: normal 16px 'Open Sans';
  --typo-button: normal 14px 'Open Sans';
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: hsl(202, 100%, 30%);
    --primary-shadow: hsl(202, 100%, 20%);
    --primary-shadow-darker: hsl(202, 100%, 15%);
    --on-primary: rgb(255, 255, 255);
    --background: hsl(0, 0%, 10%);
    --background-shadow: hsl(0, 0%, 5%);
    --background-shadow-darker: hsl(0, 0%, 0%);
    --on-background: rgb(255, 255, 255);
    --error: rgb(177, 20, 20);
    --success: hsl(120, 71%, 42%);
    --shadow: rgb(0, 0, 0, 0.25);
    --shadow-darker: rgb(0, 0, 0, 0.5);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: hsl(202, 100%, 30%);
    --primary-shadow: hsl(202, 100%, 20%);
    --primary-shadow-darker: hsl(202, 100%, 15%);
    --on-primary: rgb(255, 255, 255);
    --background: hsl(0, 0%, 100%);
    --background-shadow: hsl(0, 0%, 95%);
    --background-shadow-darker: hsl(0, 0%, 90%);
    --on-background: rgb(0, 0, 0);
    --error: rgb(177, 20, 20);
    --success: hsl(120, 71%, 42%);
    --shadow: rgb(0, 0, 0, 0.25);
    --shadow-darker: rgb(0, 0, 0, 0.5);
  }
}

body {
  margin: 0;
  font: var(--typo-body);
  background-color: var(--background);
  color: var(--on-background);
}

.page {
  padding: 1rem;
}

.bb-team-list-delete-action button.bb-text {
  color: var(--error);
}

.bb-button .button-content .material-symbols-outlined {
  font-size: 18px;
}

.bb-matchup-root .team button {
  color: var(--on-background);
}
.bb-matchup-root .team.winner button {
  color: var(--on-primary);
}
